{% include base_path %}

<!-- start custom head snippets -->

<link rel="images/apple-touch-icon" sizes="180x180" href="images/apple-touch-icon-precomposed.png">
<link rel="images/icon" type="image/png" sizes="32x32" href="images/apple-touch-icon-precomposed.png">
<link rel="images/icon" type="image/png" sizes="16x16" href="images/apple-touch-icon-precomposed.png">
<link rel="manifest" href="/site.webmanifest">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">


<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-N2PF1KWP6M"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-N2PF1KWP6M');
</script>


<!-- end custom head snippets -->
